<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NRTH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3DF7B1B813F04960A32D33A4220EC48E2A00556D</string>
				<key>dateExpires</key>
				<string>09/11/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MR5DKPGAY9.org.reactjs.native.example.NRTH</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MR5DKPGAY9</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>NRTH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>84b75a5b-88bd-4c20-b978-378c2b3d8d5d</string>
				<key>dateExpires</key>
				<string>06/09/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MR5DKPGAY9</string>
				<key>name</key>
				<string>Anuj Singh</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
